@import "../../../src/scss/vars";

.meetings{
    background-color: $light_gray;
}

.shownReservations > div {
    text-align: center;
    padding: 3%;
    border-bottom: 3px solid $light_gray;
}
.shownReservations > div >div {
    width: 75%;
    height: 55px;
    padding: 3%;
    margin: 0% 0% 5% 20%;
}

.add{
    float: right;
    font-size: 2.2rem;
    color: $purple;
    
}
.today{
    color: $purple;
    font-size: 1.5rem;
    font-weight: bold
}

.title {
    height: 80px;
    padding: 5% 5%;
}

ul{
    list-style-type: none;
    li{
        text-align: right;
        height: 60px;
        font-weight: lighter;
        font-size: 10px;
        color: rgb(202, 197, 197);
        width: 10px;
    }
}

.Div_9{

    position: absolute;
    top: 5px;
    background-color: $light_orange;
}
.Div_10{

    position: absolute;
    top: 75px;
    background-color: $light_pink;
}
.Div_11{

    position: absolute;
    top: 130px;
    background-color: $light_orange;
}
.Div_12{

    position: absolute;
    top: 190px;
    background-color: $light_pink;
}
.Div_13{

    position: absolute;
    top: 250px;
    background-color: $light_orange;
}
.Div_14{

    position: absolute;
    top: 310px;
    background-color: $light_blue;
}
.Div_15{

    position: absolute;
    top: 370px;
    background-color: $light_orange;
}
.Div_16{

    position: absolute;
    top: 430px;
    background-color: $light_pink;
}
.Div_17{

    position: absolute;
    top: 455px;
    background-color: $light_blue;
}
.Div_18{

    position: absolute;
    top: 4px;
    background-color: $light_pink;
}

label{
    width:70%;
}