
@import "../../../src/scss/vars";


.calendar {
  display: block;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  .month-nav {
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      color: $light_pink;
      font-weight: bold;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
      display: block;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .week-date {
      height: $dayBase;
      border-radius: 50%;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }
    

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        color: $purple;
        cursor: pointer;
        &:hover {
          &:after {
            border: 6px solid $light_gray;
            border-left-color: $light_orange;
            border-right-color: $light_pink;
            border-top-color: $light_blue;
          }
        }
      }
      &.selected {
        color: white;
       
      }

      &.disabled {
        color:$light_gray;
      }
    }

    .today {
      
      font-weight: bold;
      background-color:  $purple;
      color: white !important;
     
    }
  }
} 

button{
  background-color: $purple;
  border-radius: 50%;
  color: white;
  font-size: 22px;
}

.p4{
  color: $purple;
  font-size: 22px;
  font-weight: bold;
}
